input {
    width: 45px;
    height: 45px;
}

/* label {
    font-size: 2em;
} */

table {
    font-size: 30px;
	
	text-align: left;
    width: 100%;
    text-align: center;
	/* border-collapse: collapse; */
	/* height: 70%; */
}

table tr {
    border: 1px solid black;
    white-space: nowrap;
    width: 100px;
}

.test{
    color: white;
}

#inputcycle {
    font-size: 35px;
    width: 140px;
    height: 70px;
 }
